---
- name: Configure all for ansible management
  hosts: all
  tags: [bootstrap]
  remote_user: root
  gather_facts: no
  roles:
    - role: robertdebock.bootstrap
    - role: robertdebock.users
      users:
        - name: ansible
          comment: Ansible login for use after root SSH is disabled
          authorized_keys:
          - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINCvCQlRUXmMiAdN0pzqpmAULLaEuVt3dzL0xEc8ZyKc"

- name: Set up Manyfold
  hosts: [try]
  tags: [manyfold]
  remote_user: ansible
  port: "{{security_ssh_port}}"
  become: yes
  roles:
    - role: robertdebock.hostname
    - role: geerlingguy.security
    - role: geerlingguy.swap
    - role: robertdebock.users
      users:
        - name: manyfold
    - role: geerlingguy.pip
    - role: manyfold
