try.manyfold.app {
	reverse_proxy {
		to manyfold-solo:3214
		health_uri /health
	}
}

3dprint.social {
	reverse_proxy {
		to manyfold:3214
		health_uri /health
	}
}

tracking.manyfold.app {
	reverse_proxy {
		to tracking:9292
		health_uri /stats
	}
}

search.3dprint.social {
	reverse_proxy {
		to fediscoverer:3000
	}
}
